<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h2>Navegación</h2>
        <a href="{% url 'buscar_producto' %}">
            <button>Buscar Producto</button>
        </a>
        <a href="{% url 'crear_producto' %}">
            <button>Crear Producto</button>
        </a>
        <a href="{% url 'crear_carrito' %}">
            <button>Crear Carrito</button>
        </a>
        <a href="{% url 'crear_detalle_carrito' %}">
            <button>Editar Carrito</button>
        </a>
        <a href="{% url 'buscar_carrito' %}">
            <button>Buscar carrito</button>
        </a>
    </div>

    {% block productos %}
        
    {% endblock productos %}
        
</body>
</html>